<tr id="permis_<%= permission.id %>">
  <td class="center aligned">
    <span><%= permission.id%></span>
  </td>
  <td class="center aligned">
    <%=  permission.name%>
  </td>
  <td class="center aligned">
    <%= permission.action_tag %>
  </td>
  <td class="center aligned">
    <%= permission.controller_tag %>
  </td>
  <td class="center aligned">
    <%#= link_to_with_permissions edit_admin_permission_path(permission), remote: true, data: {content: '修改', variation: 'inverted'}, class: 'ui blue icon button' do %>
      <i class="edit icon"></i>
    <%# end %>
    <%= link_to add_roles_admin_permission_path(permission), data: {content: '分配角色', variation: 'inverted'}, class: 'ui green icon button' do %>
      <i class="hand pointer icon"></i>
    <% end %>
    <%#= link_to_with_permissions edit_parent_admin_hr_permission_path(permission), remote: true, data: {content: '分配上级', variation: 'inverted'}, class: 'ui olive icon button' do %>
      <i class="share icon"></i>
    <% #end %>
  </td>
</tr>
